*.iml
.idea
settings.ini
\.vs/
__pycache__/
*.pyc
*.log
ApplyPEP8\.bat
custom_mappings.yaml
failed_matches\.txt
logo\.psd
update_anilist\.bat
update_anilist_test\.bat
.idea
/embypython-4.7.5.0-py3-none-any.whl

.venv/
venv/